@{
    ViewData["Title"] = "Admin";

}

<div class="alert alert-dark">
    <h1 class="text-center text-danger">به صفحه مدیرید سایت خوش امدید</h1>
</div>

<div class="alert alert-success">
    <a asp-action="Index" asp-controller="PagesTBs" class="btn btn-warning">صفحات خبری</a>
    <a asp-action="Index" asp-controller="PageGroups" class="btn btn-warning">گروه های خبری</a>
</div>